html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.center{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
/*Container-head*/

/*.head-container{
	background-image: url(../images/head-bg.jpg);
	height: 1084px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}*/

.head-container .bg-gradient{
	height: 100%;
	width: 100%;
	background: linear-gradient(180deg, rgba(255,255,255, 0.00) 86.13%, #fff 100%), url(../images/head-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.head-container .bg-gradient header .logo{
	font-family: "Gilroy";
	font-weight: bold;
	color: #FFF;
	font-size: 28px;
	letter-spacing: 0.28px;
	width: 78px;
}
.head-container .bg-gradient header .cart{
	width: 78px;
	text-align: right;
}
.head-container .bg-gradient header{
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head-container .bg-gradient header .menu ul{
	display: flex;
	width: 478px;
	justify-content: space-between;
	align-items: center;
}
.head-container .bg-gradient header .menu ul li a{
	text-decoration: none;
	font-family: "Gilroy";
	font-weight: 500;
	font-size: 18px;
	color: #FFF;
	transition: 0.8s;
}
.head-container .bg-gradient header .menu ul li a img{
	vertical-align: bottom;
	margin-left: 4px;
}
.head-container .bg-gradient header .menu ul li a:hover{
	color: #E58411;
}
.head-container .bg-gradient h1{
	color: #FFF;
	font-family: "Gilroy";
	font-size: 80px;
	font-weight: bold;
	line-height: 130%;
	letter-spacing: -0.8px;
	text-transform: capitalize;
	width: 861px;
	text-align: center;
	margin: 0 auto;
	margin-top: 86px;
	margin-bottom: 14px;
}
.head-container .bg-gradient .desc{
	width: 606px;
	margin: 0 auto;
	color: rgba(255,255,255, 0.8);
	font-family: "Gilroy";
	font-size: 24px;
	line-height: 160%;
	text-align: center;
	margin-bottom: 45px;
}
.head-container .bg-gradient form {
	position: relative;
	width: 344px;
	margin: 0 auto;
}
.head-container .bg-gradient form input{
	border-radius: 42px;
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(4px);
	color: #FFF;
	font-family: "Gilroy";
	font-size: 18px;
	line-height: 150%;
	height: 56px;
	width: 100%;
	padding: 8px 8px 8px 20px;
	outline: 0;
}
.head-container .bg-gradient form input::placeholder {
  color: rgba(255,255,255, 0.8);
}

.head-container .bg-gradient form input::-ms-input-placeholder {
  color: rgba(255,255,255, 0.8);
}
.head-container .bg-gradient form button{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #E58411;
	border: none;
	position: absolute;
	right: 8px;
	top: 8px;
}
.head-container .bg-gradient form button img{
	vertical-align: middle;
}
.head-container .bg-gradient .selected{
	margin-top: 25px;
	display: grid;
	grid-template-columns: 112px;
	justify-items: center;
	row-gap: 25px;
	margin-left: calc(249px - 80px);
	padding-bottom: 361px;
}
.head-container .bg-gradient .selected img:first-child{
	width: 112px;
	height: 56px;
	fill: rgba(255, 255, 255, 0.20);
	stroke-width: 0.862px;
	stroke: rgba(255, 255, 255, 0.60);

backdrop-filter: blur(4px);
}
.head-container .bg-gradient .selected img:last-child{
	width: 56px;
	height: 56px;
	fill: rgba(255, 255, 255, 0.20);
	stroke-width: 0.862px;
	stroke: rgba(255, 255, 255, 0.60);
	backdrop-filter: blur(4px);
}

/*Second-container*/
$black-text: #1E1E1E;
@mixin onlylarge($w)
{
  @media only screen and (max-width: $w)
  {
    @content;  
  }
}
.container-second{
  margin-bottom: 120px;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include onlylarge(1300px) {flex-wrap: wrap;}
  @include onlylarge(1024px) {margin-top: 60px;margin-bottom: 60px;}
  h2{
    font-size: 42px;
    color: $black-text;
    font-family: "Gilroy";
    font-weight: bold;
    width: 242px;
    @include onlylarge(1300px) {margin-bottom: 30px; width: 100%;}
    @include onlylarge(768px) {font-size: 28px;}
  }
  .info-block{
    display: flex;
    @include onlylarge(1300px) {width: 100%; justify-content: space-between;}
    @include onlylarge(1024px) {flex-wrap: wrap;}
    .item{
      width: 284px;
      margin-left: 28px;
      @include onlylarge(1300px) {margin-left: 0;}
      @include onlylarge(1024px) {width: 45%; margin-bottom: 20px;}
      @include onlylarge(768px) {width: 100%;}
      h5{
      color: rgba(30,30,30,0.9);
      font-family: "Gilroy";
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 24px;
      }
      p{
        font-size: 16px;
        font-family: "Gilroy";
        line-height: 185%;
        color: rgba(30,30,30,0.8);
        margin-bottom: 14px;
      }
      a{
        text-decoration: none;
        color: #E58411;
        font-size: 14px;
        font-family: "Gilroy";
        font-weight: 500;
        line-height: 185%;
      img{
        vertical-align: top;
        margin-left: 10px;
      }
      }
  }
  
  }
}

/*Third-container*/
.container-third{
	margin-bottom: 120px;
  margin-top: 120px;
	background: #F7F7F7;
	width: 100%;
	max-width: 100%;
	@include onlylarge(1300px){width: 85%;}
h2{
	color: #1E1E1E;
	font-family: "Gilroy";
	font-size: 42px;
	font-weight: bold;
	display: flex;
	justify-content: space-around;
	margin-bottom: 45px;
	padding-top: 50px;
}
.border{
	display: flex;
	justify-content: center;
	ul{
		display: flex;
		border: 1px solid rgba(255, 255, 255, 0.6);
		background-color: #EEE;
		border-radius:  44px;
		padding: 6px 6px;
		width: 348px;
		text-align: center;
		margin-bottom: 93px;
		li{
			font-size: 18px;
			width: 84px;
			a{
				text-decoration: none;
				font-family: "Gilroy";
				font-weight: 400;
				line-height: 185%;
				color: rgba(0, 0, 0, 0.8);
			}
			.chair-border{
				border: 1px solid rgba(255, 255, 255, 0.6);
				background-color: #FFF;
				border-radius: 32px;
				padding: 4px 4px;
				width: 84px;
			}
		}
	}
}
	.catalog{
		display: grid;
		grid-template-columns: 268px 268px 268px 268px;
		column-gap: 42px;
		justify-content: center;
		@include onlylarge(1300px) {grid-template-columns: 268px 268px;}
		@include onlylarge(768px) {justify-content: space-around;grid-template-columns: 150px 150px;}
		.chair{
			border-radius: 20px;
			.chair-img{
				background-color: #FAFAFA;
			img{
				height: 255px;
				@include onlylarge(425px) {width: 100%;}
			}
		}
		.chair-text{
			font-family: "Inter";
			background-color: #FFF;
			border-radius: 0 0  20px 20px;
			
			p{
				color: #8D8D8D;
				font-size: 16px;
				margin-bottom: 6px;
				font-weight: 400;
			}
			h5{
			color: #0D1B39;
			font-family: "Inter";
			font-weight: 600;
			font-size: 21px;
			margin-bottom: 6px;
			}
			img{
				margin-bottom: 49px;
			}
			.price{
				display: flex;
				justify-content: space-between;
				h4{
					color: #0D1B39;
					font-size: 21px;
					font-weight: 600;
				}
				img{
					border-radius: 31px;
					padding: 12px;
					background: #0D1B39;
					vertical-align: baseline;

				}
			}
		}
		}
	}
	.arrow{
		display: flex;
		justify-content: center;
	a{
		text-decoration: none;
		margin-top: 50px;
		margin-bottom: 50px;
		color: #E58411;
		font-family: "Gilroy";
		font-weight: 400;
		line-height: 185%;
		font-size: 18px;
		display: flex;
		img{
			vertical-align: middle;
			margin-left: 10px;
	}
	}
	}
}




@media screen and (max-width: 1300px) {
  .center{
    width: 95%;
  }

}
@media screen and (max-width: 1024px){
  .head-container{
    .bg-gradient{
    h1{
      width: 90%;
      font-size: 50px;
    }
    .selected{
      padding-bottom: 250px;
    }
  }
}
}
@media screen and (max-width: 768px) {
  .head-container{
    .bg-gradient{
      header{
        .menu{
          display: none;
      }
      h1{
        font-size: 48px;
      }
      .desc{
        width: 100%;
      }
    }
  }
}
}
@media screen and (max-width: 425px){
  .head-container{
  .bg-gradient{
    h1{
      font-size: 32px;
      margin-top: 40px;
    }
    header{
      padding-top: 20px;
    }
    form{
      width: 100%;
    }
    .selected{
      padding-bottom: 100px;
      margin-left: calc(50% - (112px/2));
    }
  }
  }
}